body {
  margin: 0;
  font-family: Arial;
  background: #0B0F1A;
  color: white;
}

header {
  text-align: center;
  padding: 20px;
  background: #0A1025;
}

h1 {
  color: #F5C542;
}

main {
  padding: 15px;
}

.card {
  background: #121A2B;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 16px;
}

button {
  background: #F5C542;
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
}

footer {
  text-align: center;
  padding: 15px;
  opacity: 0.6;
}
